CONFIG_IDF_TARGET="esp32c3"
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_COMPILER_CXX_EXCEPTIONS=n
CONFIG_COMPILER_CXX_RTTI=n
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192
CONFIG_PM_ENABLE=y
CONFIG_FREERTOS_USE_TICKLESS_IDLE=y
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
# GPIO21 is servo PWM, GPIO20 is audio MCLK. Never use UART0 as app console.
CONFIG_ESP_CONSOLE_SECONDARY_NONE=y
CONFIG_ESP_ROM_CONSOLE_OUTPUT_SECONDARY=n
